/* Reset All Browser defaults*/
* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
aside,
section {
  display: block;
}

/* Set the margin for the #wrapper element */
body {
  background-color: #f2f2f2;
}

/* Remove the underline from all links */
a {
  text-decoration: none;
}

/* Set the margin for the #wrapper element */
/* This Element sets us alignment for all the content*/
#wrapper {
  margin: 0px 125px;
}

/* Set all the font properties for h2 elements */
h2 {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222;
}

/* Set the width and margin for the header element */
header {
  width: 100%;
  margin-top: 76px;
}

/* Set the background image and dimensions for the logo */
#logo {
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 88px;
  width: 88px;
  display: block;
}


/* Set the font properties and position for the text in the logo */
#logo span {
  font-family: tahoma;
  padding-left: 110px;
  color: #222222;
  font-size: 60px;
}

/* Nav */
/* Add space above nav element */
nav {
  margin-top: 26px;
}

/* Set the font properties and color for the links in the nav */
nav a {
  font-family: Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.3;
  margin-right: 24px;
}

/* Set the hover(when mouse hovers over the element) color for links in the nav */
nav a:hover {
  color: #1434e1;
}

/* Main */
/* Add space around images (3 images on the top)*/
#cover-photo-section {
  margin-top: 40px;
}

/* Set the margin for all but the last img element in the #cover-photo-section */
#cover-photo-section img:not(:last-child) {
  margin-right: 30px;
}

#about-me-section {
  margin-top: 40px;
}

/* Set the font properties and width for text in the #about-me-section */
#about-me-section p {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
  width: 730px;
  margin-top: 8px;
}

#programming-languages-section {
  margin-top: 60px;
}

/* Remove the bullet points from the list */
#programming-languages-section ul {
  list-style: none;
}

#programming-languages-section ul li {
  height: 54px;
}

/* Set the margin for all but the last li element in #programming-languages-section */
#programming-languages-section ul li:not(:last-child) {
  margin-bottom: 30px;
}

/* set margins for the first li element */
#programming-languages-section ul li:first-child {
  margin-top: 8px;
}

/* Align Image to text vertically in the middle */
#programming-languages-section ul li img{
    vertical-align: middle;
}
/* Set style to the text in List */
#programming-languages-section ul li span {
  margin-left: 29px;
  font-family: tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* This line Sets space between each letter to specific value in pixels */
  letter-spacing: 4px;
  /* This line makes Each letter in tex UPPERCASE */
  text-transform: uppercase;
  color: #000000;
}

#movie-section {
  margin-top: 70px;
}

/* Footer */
footer {
  background-color: #515151;
  margin-top: 58px;
}

footer section {
  margin: 0px 125px;
}

/* Here we add The line under the footer menu*/
#footer-links-section {
  border-bottom: 1px solid #ffffff;
  padding-top: 59px;
  padding-bottom: 41px;
}

#footer-links-section a {
  margin-left: 59px;
}

#footer-links-section a span {
  font-family: tahoma;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
 /* Set social icons styling */
#footer-links-section button {
  background-color: #c6b393;
  color: #ffffff;
  min-width: 206px;
  height: 40px;
  font-family: tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#footer-social-icons-section {
  margin-top: 42px;
  padding-bottom: 43px;
}
